<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TodoList</title>
	<script src="./vue.js"></script>
	<script>
		window.onload = function(){

			// //全局组件
			// Vue.component("TodoItem", {
			// 	props: ['content'],
			// 	template: "<li>{{content}}</li>"
			// })

			//局部(子)组件
			var TodoItem = {
				//接收数据
				props: ['content','index'],
				//组件模板：用模板的内容替换todo-item标签的内容
				template: "<li @click = 'handleItemClick'>{{content}}</li>",
				methods: {
					handleItemClick: function(){
						//alert("click");
						//$emit向上级传递
						this.$emit("delete",this.index);
					}
				}
			}

			var app = new Vue({
				el: "#app",
				//注册局部组件
				components:{
					TodoItem:TodoItem
				},
				data: {
					list: ["第一课","第二课","第三课"],
					inputValue: ""
				},
				methods: {
					handleBtnClick: function(){
						this.list.push(this.inputValue);
						this.inputValue = "";
					},
					handleItemDelete: function(index){
						//alert("delete");
						this.list.splice(index,1);
					}
				}
			})
		}
	</script>
</head>
<body>
	<div id="app">
		<!-- 通过v-model来绑定输入框和inputValue -->
		<input type="text" v-model="inputValue">
		<!-- 通过v-on:click来绑定点击事件"handleBtnClick" -->
		<button v-on:click="handleBtnClick">添加</button>
		<ul>
			<!-- 循环list并存储到item中 -->
			<!-- <li v-for="item in list">{{item}}</li> -->
			<todo-item 
				v-bind:content="item" 
				v-bind:index="index"
				v-for="(item,index) in list" 
				@delete="handleItemDelete">
			</todo-item>
		</ul>
	</div>
</body>
</html>